#main
  %section#messages
    %ul#message_list
      - @messages.each do |m|
        %li
          = m.display

  %section#message_input
    = form_tag '/message/create', remote: true do
      = hidden_field_tag 'person_id', current_person.id
      = text_area_tag 'content'
      = submit_tag 'Send'
