%header
  - if current_person
    = "Hi #{current_person.email}"
    = link_to 'Sign out', destroy_person_session_path, method: :delete
  - else
    = link_to 'Signup', new_person_registration_path
    = link_to 'Login', new_person_session_path
